# Node and Next
node_modules/
**/node_modules/
.next/
**/ .next/
out/
.env*

# Python
__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
venv/
.venv/
**/.venv/
backend/data/*.db

# Editor
.vscode/
.DS_Store
*.swp
